@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h2>Combos</h2>
@foreach (var item in Model.Menu.AvailableCombos)
{
    <div class="menu-item">
        <p>@item.ToString()</p>
        <ul>@item.Entree.ToString()</ul>
        <ul>@item.Side.ToString()</ul>
        <ul>@item.Drink.ToString()</ul>
        <p>Price: $@item.Price Calories: $@item.Calories </p>
        <p> Ingredients </p>
        @foreach (var ingredients in item.Ingredients)
        {
            <ul>@ingredients</ul>
        }
    </div>
}

<h2>Entrees</h2>
@foreach (var item in Model.Menu.AvailableEntrees)
{
    <div class="menu-item">
        <p>@item.ToString()</p>
        <p>Price: $@item.Price Calories: $@item.Calories </p>
        <p> Ingredients </p>
        @foreach (var ingredients in item.Ingredients)
        {
            <ul>@ingredients</ul>
        }
    </div>
}
<h2>Sides</h2>
@foreach (var item in Model.Menu.AvailableSides)
{
    <div class="menu-item">
        <p>@item.ToString()</p>
        <p>Price: $@item.Price Calories: $@item.Calories </p>
        <p> Ingredients </p>
        @foreach (var ingredients in item.Ingredients)
        {
            <ul>@ingredients</ul>
        }
    </div>
}

<h2>Drinks</h2>
@foreach (var item in Model.Menu.AvailableDrinks)
{
    <div class="menu-item">
        <p>@item.ToString()</p>
        <p>Price: $@item.Price Calories: $@item.Calories </p>
        <p> Ingredients </p>
        @foreach (var ingredients in item.Ingredients)
        {
            <ul>@ingredients</ul>
        }
    </div>
}