@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div class="content">
    <div class="results">
        <h2>Combos</h2>
        @foreach (var item in Model.items)
        {
            @if (item is DinoDiner.Menu.CretaceousCombo c)
            {
                <div class="menu-item">
                    <p>@c.Description</p>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>@(c.Size = DinoDiner.Menu.Size.Small)</td>
                            <td>$@c.Price</td>
                            <td>@c.Calories</td>
                        </tr>
                        <tr>
                            <td>@(c.Size = DinoDiner.Menu.Size.Medium)</td>
                            <td>$@c.Price</td>
                            <td>@c.Calories</td>
                        </tr>
                        <tr>
                            <td>@(c.Size = DinoDiner.Menu.Size.Large)</td>
                            <td>$@c.Price</td>
                            <td>@c.Calories</td>
                        </tr>
                    </table>
                    <p> Ingredients </p>
                    @foreach (var ingredients in c.Ingredients)
                    {
                        <ul>@ingredients</ul>
                    }
                </div>
            }
        }

        <h2>Entrees</h2>
        @foreach (var item in Model.items)
        {
            @if (item is DinoDiner.Menu.Entree e)
            {
                <div class="menu-item">
                    <p>@e.ToString()</p>
                    <p>Price: $@e.Price Calories: @e.Calories </p>
                    <p> Ingredients </p>
                    @foreach (var ingredients in e.Ingredients)
                    {
                        <ul>@ingredients</ul>
                    }
                </div>
            }
        }

        <h2>Sides</h2>
        @foreach (var item in Model.items)
        {
            @if (item is DinoDiner.Menu.Side s)
            {
                <div class="menu-item">
                    <p>@s.Name</p>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>@(s.Size = DinoDiner.Menu.Size.Small)</td>
                            <td>$@s.Price</td>
                            <td>@s.Calories</td>
                        </tr>
                        <tr>
                            <td>@(s.Size = DinoDiner.Menu.Size.Medium)</td>
                            <td>$@s.Price</td>
                            <td>@s.Calories</td>
                        </tr>
                        <tr>
                            <td>@(s.Size = DinoDiner.Menu.Size.Large)</td>
                            <td>$@s.Price</td>
                            <td>@s.Calories</td>
                        </tr>
                    </table>
                    <p> Ingredients </p>
                    @foreach (var ingredients in s.Ingredients)
                    {
                        <ul>@ingredients</ul>
                    }
                </div>
            }
        }

        <h2>Drinks</h2>
        @foreach (var item in Model.items)
        {
            @if (item is DinoDiner.Menu.Drink d)
            {
                <div class="menu-item">
                    <p>@d.Name</p>
                    <table>
                        <tr>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Calories</th>
                        </tr>
                        <tr>
                            <td>@(d.Size = DinoDiner.Menu.Size.Small)</td>
                            <td>$@d.Price</td>
                            <td>@d.Calories</td>
                        </tr>
                        <tr>
                            <td>@(d.Size = DinoDiner.Menu.Size.Medium)</td>
                            <td>$@d.Price</td>
                            <td>@d.Calories</td>
                        </tr>
                        <tr>
                            <td>@(d.Size = DinoDiner.Menu.Size.Large)</td>
                            <td>$@d.Price</td>
                            <td>@d.Calories</td>
                        </tr>
                    </table>
                    <p> Ingredients:</p>
                    @foreach (var ingredients in d.Ingredients)
                    {
                        <ul>@ingredients</ul>
                    }
                </div>
            }
        }
    </div>

    <form method="post">
        <h4>Search</h4>
        <input type="text" name="search" id="search" value="@Model.search" />
        <input type="submit" value="Search And Filter" />

        <h4>Menu Category</h4>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Combo" checked="@Model.menuCategory.Contains("Combo")" />
                Combo
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Entree" checked="@Model.menuCategory.Contains("Entree")" />
                Entree
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Side" checked="@Model.menuCategory.Contains("Side")" />
                Side
            </label>
            <label>
                <input type="checkbox" class="menu-category" name="menuCategory" value="Drink" checked="@Model.menuCategory.Contains("Drink")" />
                Drink
            </label>
        </div>

        <h4>Price</h4>
        <div class="price">
            <label>
                Minimum Price:
                <input type="number" min="0" max="11" step="0.01" name="minimumPrice" id="minimum-price" value="@Model.minimumPrice" />
            </label>

            <label>
                Maximum Price:
                <input type="number" min="0" max="11" step="0.01" name="maximumPrice" id="maximum-price" value="@Model.maximumPrice" />
            </label>
        </div>

        <h4>Excluding Ingredients</h4>
        <div class="exclude-ingredient">
            @foreach(string ingredient in Model.m.PossibleIngredients)
            {
            <label>
                <input type="checkbox" name="ingredients" value="@ingredient" checked="@Model.ingredients.Contains(ingredient)" />
                @ingredient
            </label>
            }
        </div>
    </form>
</div>


